# Ігнорувати bak-файли
*.bak
# Ігнорувати html-файли
*.html
# Ігнорувати dep-файли середовища розробки
*.dep
# Ігнорувати log-файли
*.log
# Ігнорувати my.bat
my.bat

# Ігнорувати файли з папки settings/
settings/

# Ігнорувати файли з папки Flash-Debug/
Flash-Debug/
